/* WEB FONTS -------------------- */

@font-face  {
  font-family: 'Abolition Regular';
  src: url('../fonts/abolition-regular-webfont.eot');
  src: url('../fonts/abolition-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/abolition-regular-webfont.woff') format('woff'),
       url('../fonts/abolition-regular-webfont.ttf') format('truetype');
}



/* BASE STYLES -------------------- */

* {
  box-sizing: border-box;
}

body {
  color: #878787;
  margin: 0;
  font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,
h2  {
  font-family: 'Abolition Regular', Helvetica, Arial, sans-serif;
}

h1 {  
  font-size: 5.625rem; /* 90px/16px  */
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.3;
  text-shadow: 0 16px 16px rgba(0,0,0,.8);
  margin: 12px 0 0;
  padding-top: 30px;
}

h2 {
  font-size: 3.3125em; /* 53px/16px  */
  font-weight: normal;
  line-height: 1.1;
  margin: 0 0 .5em; /* 0 0 26px */
}

h3 {
  font-size: 1.25em; /* 20px/16px  */
  color: #48525c;
  line-height: 1.2;
  margin-bottom: 1.7em; /* 34px */
  text-align: center;
}

img {
  max-width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
}

ul,
ol {
  margin: 30px 0;
}

li {
  margin-bottom: 10px;
  list-style-type: none;
  text-align: center;


}



/* PSEUDO-CLASSES ------------------ */

a:link {
  color: #2db7e2;
  text-decoration: none;
}

a:visited {
  color: lightblue;
}

a:hover {
  color: #00ffbb;
}

a:active {
  color: lightcoral;
}



/* MAIN STYLES --------------------- */

.main-header {
  padding-top: 170px;
  height: 850px;
  background: /*linear-gradient(#ffa949, transparent 90%),
              linear-gradient(0deg, #fff, transparent),*/
              #ffa949 url('https://upload.wikimedia.org/wikipedia/commons/b/b4/Sound_wave.jpg') no-repeat center;
              
  background-size: cover;
  
}

.title {
  color: white;
  font-size: 1.625rem; /* 26px/16px */
  letter-spacing: .065em;
  font-weight: 200;
  border-bottom: 2px solid;
  /*padding-bottom: 10px;*/
}

.intro {
  font-size: 1.25em; /* 20px/16px */
  line-height: 1.6;  
}

.primary-content,
.main-header,
.main-footer {
  text-align: center;
}

.primary-content {
	padding-top: 25px;
  padding-bottom: 95px;
}

.secondary-content {
	padding-top: 80px;
	padding-bottom: 70px;
  border-bottom: 2px solid #dfe2e6;
}

.callout {
  font-size: 1.25em;
  border-bottom: 3px solid;
  padding: 0 9px 3px;
  margin-top: 20px;
  display: inline-block;
}

.main-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 10px solid #2db7e2;
}

.t-border {
  border-top: 2px solid #2db7e2;
}

/* LAYOUT STYLES ------------------ */

.primary-content, 
.secondary-content {
  width: 75%;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  max-width: 960px;
}

.wildlife {
  color: white;
  text-align: center;
  padding: 18% 24%;
  border-top: 10px solid #2d839e;
  margin: 105px 0 60px;
  background: #434a52 url('http://www.weightlossladder.com/wp-content/uploads/2013/04/mind-body.jpg') no-repeat center;
  background-size: cover;
  box-shadow: inset 0 0 50px 10px rgba(0,0,0,1);
  border-radius: 10px;
  
  
 }



.arrow {
  color: white;
  width: 50px;
  margin-top: 150px;
}

/* FLOATED COLUMNS ------------------ */

.resorts,
.tips {
  width: 46.5%;
}

.tips {
  float: left;
}

.resorts {
  float: right;
}

/* FLOAT CLEARFIX ------------------ */

.group:after {
  content: "";
  display: table;
  clear: both;
}



/* MEDIA QUERIES -------------------- */


/*************EXAMPLES ****************

@media (max-width: 960px)  {
  body  {
    background: royalblue;
  }
  p   {
    color:white;
  }
}

@media (max-width: 480px)  {
  body  {
    background: darkred;
  }
}

@media (min-width: 481px) and (max-width: 700px)  {
  body  {
    background: seagreen;
}
  p   {
    color:white;
  }
}
  **************************************/

@media (max-width: 1024px)  {
  .primary-content,
  .secondary-content  {
   width: 90%;
  }

.wildlife {
  padding: 10% 12%;
  margin: 50px 0 20px;
  }
}


@media (max-width: 768px)  {
    .primary-content,
    .secondary-content  {
      width: 100%;
      padding: 20px;
      border: top none;
  
  }


     .main-header  {
      max-height: 380px;
      padding: 50px 25px 0;
  }
  
    .title  {
      font-size: 1.3rem;
      border: none;
  }
  
  h1  {
    font-size: 5rem;
    line-height: 1.1;
  }
  
  .arrow  {

    display: none;
  }

.intro  {
  font-size: 1rem;
}

.resorts,
.tips {
  float: none;
  width: 100%;
}

.main-footer  {
  padding: 20px 0;
}

}






  





